/* First Media Query */
@media screen and (max-width: 1200px) and (min-width: 1023px) {

  /* Award light Styling */
  #light .Award_wrap .Award_shift {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    margin-top: 5rem;
  }

  #light .Award_shift .Award_card {
    width: 47%;
    height: auto;
    background-color: var(--white-color);
    border-radius: 2rem;
    padding: 2rem;
    margin: .756rem;
    box-shadow: 0 .1rem 3rem var(--text-color);
  }

  #light .Award_card .Award_card_top {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  #light .Award_card .Award_card_head {
    width: 70%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }

  /* Award dark Styling */
  #dark .Award_wrap .Award_shift {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    margin-top: 5rem;
  }

  #dark .Award_shift .Award_card {
    width: 47%;
    height: auto;
    border-radius: 2rem;
    padding: 2rem;
    margin: .756rem;
  }

  #dark .Award_card .Award_card_top {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  #dark .Award_card .Award_card_head {
    width: 70%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }
}

/* Second Media Query */
@media screen and (max-width: 1024px) and (min-width: 993px) {

  /* Award light Styling */
  #light .Award_wrap .Award_shift {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    margin-top: 5rem;
  }

  #light .Award_shift .Award_card {
    width: 47%;
    height: auto;
    background-color: var(--white-color);
    border-radius: 2rem;
    padding: 2rem;
    margin: .756rem;
    box-shadow: 0 .1rem 3rem var(--text-color);
  }

  #light .Award_card .Award_card_top {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  #light .Award_card .Award_card_head {
    width: 70%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }

  /* Award dark Styling */
  #dark .Award_wrap .Award_shift {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    margin-top: 5rem;
  }

  #dark .Award_shift .Award_card {
    width: 47%;
    height: auto;
    border-radius: 2rem;
    padding: 2rem;
    margin: .756rem;
  }

  #dark .Award_card .Award_card_top {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  #dark .Award_card .Award_card_head {
    width: 70%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }
}

/* Third Media Query */
@media screen and (max-width: 992px) and (min-width: 769px) {
  #light .Award_wrap .Award_shift {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    margin-top: 5rem;
  }

  #light .Award_shift .Award_card {
    width: 46.5%;
    height: auto;
    background-color: var(--white-color);
    border-radius: 2rem;
    padding: 2rem;
    margin: .756rem;
    box-shadow: 0 .1rem 3rem var(--text-color);
  }

  #light .Award_card .Award_card_top {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  #light .Award_card .Award_card_head {
    width: 87%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }

  #dark .Award_wrap .Award_shift {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    margin-top: 5rem;
  }

  #dark .Award_shift .Award_card {
    width: 46.5%;
    height: auto;
    border-radius: 2rem;
    padding: 2rem;
    margin: .756rem;
  }

  #dark .Award_card .Award_card_top {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  #dark .Award_card .Award_card_head {
    width: 87%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }
}

/* Forth Media Query */
@media screen and (max-width: 768px) and (min-width: 601px) {

  /* Award light Styling */
  #light .Award_wrap .Award_shift {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    margin-top: 5rem;
  }

  #light .Award_wrap .Award_shift {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }

  #light .Award_shift .Award_card {
    width: 100%;
    height: auto;
    background-color: var(--white-color);
    border-radius: 2rem;
    padding: 2rem;
    vertical-align: middle;
    margin: .756rem;
    box-shadow: 0 .1rem 3rem var(--text-color);
  }

  #light .Award_card .Award_card_top {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  #light .Award_card .Award_card_head {
    width: 52%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }

  /* Award dark Styling */
  #dark .Award_wrap .Award_shift {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    margin-top: 5rem;
  }

  #dark .Award_wrap .Award_shift {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }

  #dark .Award_shift .Award_card {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    padding: 2rem;
    vertical-align: middle;
    margin: .756rem;
  }

  #dark .Award_card .Award_card_top {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  #dark .Award_card .Award_card_head {
    width: 52%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
  }
}

/* Fifth Media Query */
@media screen and (max-width: 600px) and (min-width: 223px) {

  /* Award light Styling */
  #light .Award {
    width: 100%;
    height: auto;
    margin-top: 8rem;
  }

  #light .Award .Award_wrap {
    width: 99%;
    height: auto;
    margin: auto;
    padding-bottom: 2rem;
  }

  #light .Award_wrap p {
    width: 100%;
    padding-top: 1rem;
    margin: auto;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
  }

  #light .Award_wrap .Award_shift {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    margin-top: 5rem;
  }

  #light .Award_shift .Award_card {
    width: 100%;
    height: auto;
    background-color: var(--white-color);
    border-radius: 2rem;
    padding: 2rem;
    vertical-align: middle;
    margin: .756rem;
    box-shadow: 0 .1rem 3rem var(--text-color);
  }

  #light .Award_card .Award_card_top {
    display: none;
  }

  #light .Award_shift .Award_card {
    width: 100%;
    height: auto;
    background-color: var(--white-color);
    border-radius: 1rem;
    padding: 1em;
    box-shadow: 0 .1rem 3rem var(--text-color);
  }

  #light .Award_card .Award_card_head {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-between;
  }

  #light .Award_card_head .Award_head_img {
    width: 100%;
    display: none;
  }

  #light .Award_card_head p {
    padding-top: .1rem;
    font-size: 1.2rem;
  }

  #light .Award_card h1 {
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    padding-top: 2rem;
    text-align: left;
  }

  /* Award dark Styling */
  #dark .Award {
    width: 100%;
    height: auto;
    margin-top: 8rem;
  }

  #dark .Award .Award_wrap {
    width: 99%;
    height: auto;
    margin: auto;
    padding-bottom: 2rem;
  }

  #dark .Award_wrap p {
    width: 100%;
    padding-top: 1rem;
    margin: auto;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
  }

  #dark .Award_wrap .Award_shift {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: none;
    margin-top: 5rem;
  }

  #dark .Award_shift .Award_card {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    padding: 2rem;
    vertical-align: middle;
    margin: .756rem;
  }

  #dark .Award_card .Award_card_top {
    display: none;
  }

  #dark .Award_shift .Award_card {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    padding: 1em;
  }

  #dark .Award_card .Award_card_head {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-between;
  }

  #dark .Award_card_head .Award_head_img {
    width: 100%;
    display: none;
  }

  #dark .Award_card_head p {
    padding-top: .1rem;
    font-size: 1.2rem;
  }

  #dark .Award_card h1 {
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    padding-top: 2rem;
    text-align: left;
  }
}