/* First Media Query */
@media screen and (max-width: 1200px) and (min-width: 1023px) {

  /* Contact light styling */
  #light .Contact {
    width: 100%;
    height: auto;

  }

  #light .Contact .Contact_wrap {
    width: 95%;
    height: auto;
  }

  #light .Contact_wrap form {
    width: 85%;
    height: auto;
  }

  #light form .form_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #light .form_header .form_name {
    width: 48%;
    height: 8vh;
  }

  #light .form_header .form_email {
    width: 48%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
    border: .1rem solid #9fa6b3;
  }

  /* Contact dark styling */
  #dark .Contact {
    width: 100%;
    height: auto;

  }

  #dark .Contact .Contact_wrap {
    width: 95%;
    height: auto;
  }

  #dark .Contact_wrap form {
    width: 85%;
    height: auto;
  }

  #dark form .form_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #dark .form_header .form_name {
    width: 48%;
    height: 8vh;
  }

  #dark .form_header .form_email {
    width: 48%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
    border: .1rem solid #9fa6b3;
  }
}

/* Second Media Query */
@media screen and (max-width: 1024px) and (min-width: 993px) {

  /* Contact light styling */
  #light .Contact {
    width: 100%;
    height: auto;

  }

  #light .Contact .Contact_wrap {
    width: 95%;
    height: auto;
  }

  #light .Contact_wrap form {
    width: 85%;
    height: auto;
  }

  #light form .form_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #light .form_header .form_name {
    width: 48%;
    height: 8vh;
  }

  #light .form_header .form_email {
    width: 48%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
    border: .1rem solid #9fa6b3;
  }

  /* Contact dark styling */
  #dark .Contact {
    width: 100%;
    height: auto;

  }

  #dark .Contact .Contact_wrap {
    width: 95%;
    height: auto;
  }

  #dark .Contact_wrap form {
    width: 85%;
    height: auto;
  }

  #dark form .form_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #dark .form_header .form_name {
    width: 48%;
    height: 8vh;
  }

  #dark .form_header .form_email {
    width: 48%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
    border: .1rem solid #9fa6b3;
  }
}

/* Third Media Query */
@media screen and (max-width: 992px) and (min-width: 769px) {

  /* Contact light styling */
  #light .Contact {
    width: 100%;
    height: auto;

  }

  #light .Contact .Contact_wrap {
    width: 95%;
    height: auto;
  }

  #light .Contact_wrap form {
    width: 95%;
    height: auto;
  }

  /* Contact dark styling */
  #dark .Contact {
    width: 100%;
    height: auto;

  }

  #dark .Contact .Contact_wrap {
    width: 95%;
    height: auto;
  }

  #dark .Contact_wrap form {
    width: 95%;
    height: auto;
  }
}

/* Forth Media Query */
@media screen and (max-width: 768px) and (min-width: 601px) {

  /* Contact light styling */
  #light .Contact {
    width: 100%;
    height: auto;

  }

  #light .Contact .Contact_wrap {
    width: 95%;
    height: auto;
  }

  #light .Contact_wrap form {
    width: 95%;
    height: auto;
  }

  #light form .form_header {
    width: 100%;
    display: block;
    justify-content: none;
  }

  #light .form_header .form_name {
    width: 100%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }

  #light .form_header .form_email {
    width: 100%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
  }

  #light form .form_button {
    margin-top: 2rem;
    width: 50%;
    height: auto;
  }

  /* Contact dark styling */
  #dark .Contact {
    width: 100%;
    height: auto;

  }

  #dark .Contact .Contact_wrap {
    width: 95%;
    height: auto;
  }

  #dark .Contact_wrap form {
    width: 95%;
    height: auto;
  }

  #dark form .form_header {
    width: 100%;
    display: block;
    justify-content: none;
  }

  #dark .form_header .form_name {
    width: 100%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }

  #dark .form_header .form_email {
    width: 100%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
  }

  #dark form .form_button {
    margin-top: 2rem;
    width: 50%;
    height: auto;
  }
}

/* Fifty Media Query */
@media screen and (max-width: 600px) and (min-width: 223px) {

  /* Contact light styling */
  #light .Contact {
    width: 100%;
    height: auto;

  }

  #light .Contact .Contact_wrap {
    width: 95%;
    height: auto;
  }

  #light .Contact_shift h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
  }

  #light .Contact_shift p {
    width: 100%;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 1rem;
    text-align: center;
    color: var(--text-color);
  }

  #light .Contact_wrap form {
    width: 100%;
    height: auto;
    padding: .6rem;
  }

  #light form .form_header {
    width: 100%;
    display: block;
    justify-content: none;
  }

  #light .form_header .form_name {
    width: 100%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }

  #light .form_header .form_email {
    width: 100%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
  }

  #light form .form_button {
    margin-top: 2rem;
    width: 100%;
    height: auto;
  }

  /* Contact dark styling */
  #dark .Contact {
    width: 100%;
    height: auto;

  }

  #dark .Contact .Contact_wrap {
    width: 95%;
    height: auto;
  }

  #dark .Contact_shift h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
  }

  #dark .Contact_shift p {
    width: 100%;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 1rem;
    text-align: center;
    color: var(--text-color);
  }

  #dark .Contact_wrap form {
    width: 100%;
    height: auto;
    padding: .6rem;
  }

  #dark form .form_header {
    width: 100%;
    display: block;
    justify-content: none;
  }

  #dark .form_header .form_name {
    width: 100%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
    margin-bottom: 2rem;
  }

  #dark .form_header .form_email {
    width: 100%;
    height: 8vh;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 1rem;
  }

  #dark form .form_button {
    margin-top: 2rem;
    width: 100%;
    height: auto;
  }
}