/* First Media Query */
@media screen and (max-width: 1200px) and (min-width: 1023px) {

  /* Header light Styling */
  #light .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #light .Header_wrap .Header_shift {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  }

  #light .Header_shift .Header_text {
    width: 50%;
    padding-top: 9rem;
  }

  #light .Header_text h1 {
    width: 100%;
    font-size: 2.7rem;
  }

  #light .Header_text p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 2rem;
    color: var(--text-color);
  }

  /* Header dark Styling */
  #dark .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #dark .Header_wrap .Header_shift {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  }

  #dark .Header_shift .Header_text {
    width: 50%;
    padding-top: 9rem;
  }

  #dark .Header_text h1 {
    width: 100%;
    font-size: 2.7rem;
  }

  #dark .Header_text p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 2rem;
    color: var(--text-color);
  }
}

/* Second Media Query */
@media screen and (max-width: 1024px) and (min-width: 993px) {

  /* Header light Styling */
  #light .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #light .Header_wrap .Header_shift {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  }

  #light .Header_shift .Header_text {
    width: 50%;
    padding-top: 9rem;
  }

  #light .Header_text h1 {
    width: 100%;
    font-size: 2.7rem;
  }

  #light .Header_text p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 2rem;
    color: var(--text-color);
  }

  /* Header dark Styling */
  #dark .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #dark .Header_wrap .Header_shift {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  }

  #dark .Header_shift .Header_text {
    width: 50%;
    padding-top: 9rem;
  }

  #dark .Header_text h1 {
    width: 100%;
    font-size: 2.7rem;
  }

  #dark .Header_text p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 2rem;
    color: var(--text-color);
  }
}

/* Third Media Query */
@media screen and (max-width: 992px) and (min-width: 769px) {

  /* Header light Styling */
  #light .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #light .Header_wrap .Header_shift {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  #light .Header_shift .Header_text {
    width: 100%;
    padding-top: 2rem;
  }

  #light .Header_text h1 {
    width: 80%;
    margin: auto;
    font-size: 3rem;
    text-align: center;
  }

  #light .Header_text p {
    width: 80%;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;
  }

  #light .Header_text .Header_button {
    width: 40%;
    height: auto;
    border-radius: .5rem;
    margin: auto;
    margin-top: 3rem;
  }

  #light .Header_shift .Header_image {
    width: 50%;
    padding-top: 4rem;
    margin: auto;
  }

  #light .Header_image img {
    width: auto;
    height: auto;
    vertical-align: middle;
  }

  /* Header dark Styling */
  #dark .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #dark .Header_wrap .Header_shift {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  #dark .Header_shift .Header_text {
    width: 100%;
    padding-top: 2rem;
  }

  #dark .Header_text h1 {
    width: 80%;
    margin: auto;
    font-size: 3rem;
    text-align: center;
  }

  #dark .Header_text p {
    width: 80%;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;
  }

  #dark .Header_text .Header_button {
    width: 40%;
    height: auto;
    border-radius: .5rem;
    margin: auto;
    margin-top: 3rem;
  }

  #dark .Header_shift .Header_image {
    width: 50%;
    padding-top: 4rem;
    margin: auto;
  }

  #dark .Header_image img {
    width: auto;
    height: auto;
    vertical-align: middle;
  }
}

/* Forth Media Query */
@media screen and (max-width: 768px) and (min-width: 601px) {

  /* Header light Styling */
  #light .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #light .Header_wrap .Header_shift {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  #light .Header_shift .Header_text {
    width: 100%;
    padding-top: 2rem;
  }

  #light .Header_text h1 {
    width: 100%;
    margin: auto;
    font-size: 3rem;
    text-align: center;
  }

  #light .Header_text p {
    width: 90%;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;
  }

  #light .Header_text .Header_button {
    width: 40%;
    height: auto;
    border-radius: .5rem;
    margin: auto;
    margin-top: 3rem;
  }

  #light .Header_shift .Header_image {
    width: 50%;
    padding-top: 4rem;
    margin: auto;
  }

  #light .Header_image img {
    width: auto;
    height: auto;
    vertical-align: middle;
  }

  /* Header dark Styling */
  #dark .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #dark .Header_wrap .Header_shift {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  #dark .Header_shift .Header_text {
    width: 100%;
    padding-top: 2rem;
  }

  #dark .Header_text h1 {
    width: 100%;
    margin: auto;
    font-size: 3rem;
    text-align: center;
  }

  #dark .Header_text p {
    width: 90%;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;
  }

  #dark .Header_text .Header_button {
    width: 40%;
    height: auto;
    border-radius: .5rem;
    margin: auto;
    margin-top: 3rem;
  }

  #dark .Header_shift .Header_image {
    width: 50%;
    padding-top: 4rem;
    margin: auto;
  }

  #dark .Header_image img {
    width: auto;
    height: auto;
    vertical-align: middle;
  }
}