/* First Media Query */
@media screen and (max-width: 1200px) and (min-width: 1023px) {

  /* Header light Styling */
  #light .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #light .Header_wrap .Header_shift {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  }

  #light .Header_shift .Header_text {
    width: 50%;
    padding-top: 9rem;
  }

  #light .Header_text h1 {
    width: 100%;
    font-size: 2.7rem;
  }

  #light .Header_text p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 2rem;
    color: var(--text-color);
  }

  /* Header dark Styling */
  #dark .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #dark .Header_wrap .Header_shift {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  }

  #dark .Header_shift .Header_text {
    width: 50%;
    padding-top: 9rem;
  }

  #dark .Header_text h1 {
    width: 100%;
    font-size: 2.7rem;
  }

  #dark .Header_text p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 2rem;
    color: var(--text-color);
  }
}

/* Second Media Query */
@media screen and (max-width: 1024px) and (min-width: 993px) {

  /* Header light Styling */
  #light .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #light .Header_wrap .Header_shift {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  }

  #light .Header_shift .Header_text {
    width: 50%;
    padding-top: 9rem;
  }

  #light .Header_text h1 {
    width: 100%;
    font-size: 2.7rem;
  }

  #light .Header_text p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 2rem;
    color: var(--text-color);
  }

  /* Header dark Styling */
  #dark .Header {
    width: 100%;
    height: auto;
    margin-top: .5rem;
  }

  #dark .Header_wrap .Header_shift {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
  }

  #dark .Header_shift .Header_text {
    width: 50%;
    padding-top: 9rem;
  }

  #dark .Header_text h1 {
    width: 100%;
    font-size: 2.7rem;
  }

  #dark .Header_text p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 2rem;
    color: var(--text-color);
  }
}