/* First Media Query */
@media screen and (max-width: 1200px) and (min-width: 1023px) {

  /* Manage light Styling */
  #light .Manage {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  #light .Manage .Manage_wrap {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #light .Manage_shift .Manage_text {
    width: 45%;
    height: auto;
    padding-top: 4.5rem;
  }

  /* Manage dark Styling */
  #dark .Manage {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  #dark .Manage .Manage_wrap {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #dark .Manage_shift .Manage_text {
    width: 45%;
    height: auto;
    padding-top: 4.5rem;
  }
}

/* Seond Media Query */
@media screen and (max-width: 1024px) and (min-width: 993px) {

  /* Manage light Styling */
  #light .Manage {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  #light .Manage .Manage_wrap {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #light .Manage_shift .Manage_text {
    width: 45%;
    height: auto;
    padding-top: 4.5rem;
  }

  /* Manage dark Styling */
  #dark .Manage {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  #dark .Manage .Manage_wrap {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #dark .Manage_shift .Manage_text {
    width: 45%;
    height: auto;
    padding-top: 4.5rem;
  }
}

/* Third Media Query */
@media screen and (max-width: 992px) and (min-width: 769px) {

  /* Manage light Styling */
  #light .Manage {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  #light .Manage .Manage_wrap {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #light .Manage_wrap .Manage_shift {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  #light .Manage_shift img {
    width: 100%;
  }

  #light .Manage_shift .Manage_text {
    width: 80%;
    margin: auto;
    height: auto;
    padding-top: 5rem;
  }

  /* Manage dark Styling */
  #dark .Manage {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  #dark .Manage .Manage_wrap {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #dark .Manage_wrap .Manage_shift {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  #dark .Manage_shift img {
    width: 100%;
  }

  #dark .Manage_shift .Manage_text {
    width: 80%;
    margin: auto;
    height: auto;
    padding-top: 5rem;
  }
}

/* Forth Media Query */
@media screen and (max-width: 768px) and (min-width: 601px) {

  /* Manage light Styling */
  #light .Manage {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  #light .Manage .Manage_wrap {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #light .Manage_wrap .Manage_shift {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  #light .Manage_shift img {
    width: 100%;
  }

  #light .Manage_shift .Manage_text {
    width: 80%;
    margin: auto;
    height: auto;
    padding-top: 5rem;
  }

  /* Manage dark Styling */
  #dark .Manage {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  #dark .Manage .Manage_wrap {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #dark .Manage_wrap .Manage_shift {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  #dark .Manage_shift img {
    width: 100%;
  }

  #dark .Manage_shift .Manage_text {
    width: 80%;
    margin: auto;
    height: auto;
    padding-top: 5rem;
  }
}

/* Fifth Media Query */
@media screen and (max-width: 600px) and (min-width: 223px) {

  /* Manage light Styling */
  #light .Manage {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  #light .Manage .Manage_wrap {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #light .Manage_wrap .Manage_shift {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  #light .Manage_shift img {
    width: 100%;
  }

  #light .Manage_shift .Manage_text {
    width: 80%;
    margin: auto;
    height: auto;
    padding-top: 5rem;
  }

  /* Manage dark Styling */
  #dark .Manage {
    width: 100%;
    height: auto;
    margin-top: 5rem;
  }

  #dark .Manage .Manage_wrap {
    width: 95%;
    height: auto;
    margin: auto;
  }

  #dark .Manage_wrap .Manage_shift {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  #dark .Manage_shift img {
    width: 100%;
  }

  #dark .Manage_shift .Manage_text {
    width: 80%;
    margin: auto;
    height: auto;
    padding-top: 5rem;
  }
}